<div class="prose mx-auto py-10 text-gray-800">
  <h1 class="text-gray-600">
    Your email has been verified.
  </h1>
  <p>
    Now your pending emails will be automatically sent to makers.
  </p>
</div>
